<div *ngIf="Page">
  <div>{{Page.Name}}</div>
  <div id="page" cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let block of Page.Blocks | order: 'Order': 'asc'" cdkDrag class="block">
      <mat-icon class="handle" cdkDragHandle>toc</mat-icon>
      <block [Block]="block" class="w-100"></block>
    </div>
  </div>
  <div id="inputSpace">
    <scribe [Page]="Page"></scribe>
<!--    <div #blockContentInput contenteditable="true" spellcheck="true" id="textInput" class="single-line" (keypress)="checkPress($event)" (keydown.enter)="SendBlock(blockContentInput.innerText,blockTypeInput.value)"></div>-->
    <select #blockTypeInput>
      <option *ngFor="let item of Types | enumToArray">{{item.name}}</option>
    </select>
<!--        <ng-autocomplete></ng-autocomplete>-->
  </div>
</div>
